@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.share-container {
    display: flex;
    height: 150px;
    align-items: center;
    position: fixed;
    top: 415px;
    left: 17px;
    transition: 0.8s ease-in-out;
    z-index: 10;
}
.icon {
    height:70px;
} 

.share-icons {
    list-style-type: none;
    display: flex;
    position: relative;

}
.icon img{
    height: 100%;
}
.icon{
    position: absolute;
    top:0;
    left:0;
    transition: 0.4s ease-in-out;
}
.icon:not(:first-child){
    transform: rotate(-180deg);
}

#share-icon{
    z-index: 10;
}

.active-icon .icon-1{
    left: 70px;
    transform: rotate(0deg);
    transition-delay:0.2s;
}

.active-icon .icon-2{
    left: 140px;
    transform: rotate(0deg);
    transition-delay:0.2s;
}

.active-icon .icon-3{
    left: 210px;
    transform: rotate(0deg);
    transition-delay:0.1s;
}

.moveIcon{
    top:390px;
    transition: 0.8s ease-in-out;
}
